{% set character_show = path('character_show', { characterName: character.characterName }) %}

<div class="item-character {% if character.characterRarity == "4-star"%}four-star {% else %}five-star{% endif %}">
    {% for medium in character.media|filter(medium => medium.imageRole == 'Icon') %}
        <figure>
            <a href="{{ character_show }}">
                <img src="/uploads/{{ medium.filename }}" alt="">
                <figcaption>{{ character.characterName }}</figcaption>
            </a>
        </figure>
    {% endfor %}
</div>