{% set character_show = path('character_show', { characterName: character.characterName }) %}

<div class="item-character">
    {% for medium in character.media|filter(medium => medium.imageRole == 'Icon') %}
        <a href="{{ character_show }}">
            <img src="/uploads/{{ medium.filename }}" alt="">
        </a>
    {% endfor %}
    <p>{{ character.characterName }}</p>
</div>