<a href="#" class="bossmat">
    {% if bossmat.bossMatIcon %} 
        <div class="item-asc-mat four-star">
            <img src="/uploads/{{ bossmat.bossMatIcon.filename }}" alt="">
            <p>{{ bossmat.bossMatName }}</p>
            <div class="bossmat-type-div">
                <img class="bossmat-type" src="/uploads/{{ bossmat.bossMatType.typeIcon.filename }}" alt="">
            </div>
        </div>
    {% endif %}
</a>