{% extends 'base.html.twig' %}

{% block body %}
    <div class='s-container'>
        <div class="lc-show">
            <h1>{{ lightcone.lcName }}</h1>
            <h2>Story</h2>
            <p>{{ lightcone.lcStory|raw }}</p>
            <h2>Skill</h2>
            <h3>S1</h3>
            <p>{{ lightcone.lcSkillOne|raw }}</p>
        </div>
    </div>
{% endblock %}