{% extends 'base.html.twig' %}

{% block body %}
    <div class='s-container'>
        <div class="lc-show">
            <h1>{{ lightcone.lcName }}</h1>
        </div>
    </div>
{% endblock %}