{% extends 'base.html.twig' %}

{% block title %}Materials{% endblock %}

{% block body %}
    <h1>Ascension materials</h1>
    <div class="materials">
        <h2>Enemy materials</h2>
        <div class="ascension-materials-list">
            {% include "materials/ascension-materials/list.html.twig" with { ascmats } %}
        </div>
        <h2>Stagnant Shadow materials</h2>
        <div class="boss-materials-list">
            {% include "materials/boss-materials/list.html.twig" with { bossmats } %}
        </div>
    </div>
{% endblock %}
