{% set lc_show = path('lc_show', { lcSlug: lightcone.lcSlug }) %}

<div class="item-lc {% if lightcone.lcRarity == "4-star"%}four-star {% elseif lightcone.lcRarity == "5-star" %}five-star {% elseif lightcone.lcRarity == "3-star" %}three-star{% endif %}">
    {% for icon in lightcone.lcIcons|filter(icon => icon.imageRole == 'Lc Icon') %}
        <a href="{{ lc_show }}">
            <img src="/uploads/{{ icon.filename }}" alt="">
            <p>{{ lightcone.lcName }}</p>
        </a>
        <div class="lc-path-div">
            <img class="lc-path" src="/uploads/{{ lightcone.lcPath.pathIcon.filename }}" alt="">
        </div>
    {% endfor %}
</div>