<a href="#" class="echomat">
    {% if echomat.icon %} 
        <div class="item-asc-mat four-star">
            <img src="/uploads/{{ echomat.icon.filename }}" alt="">
            <p>{{ echomat.name }}</p>
        </div>
    {% endif %}
</a>