{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
<div class="character-list">
    {% include "character/list.html.twig" with { characters } %}
</div>
{% endblock %}
