{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
<h1>Light cones</h1>
<div class="lc-list">
    {% include "light_cones/light_cone/list.html.twig" with { lightcones } %}
</div>
{% endblock %}
