<footer>
    <p style="color: white">Honkai Star Rail is a registered trademark of hoYoverse Co., Ltd. This site is not affiliated with or endorsed by hoYoverse. Images and data © hoYoverse Co., Ltd.</p>
    <p>© 2025 [placeholder name]. All rights reserved.</p>
</footer>