<header>
    <p>LOGO</p>
    <nav>
        <ul>
            <li class="main-nav-link"><a href="/characters">Characters</a></li>
            <li class="main-nav-link"><a href="/light-cones">Light cones</a></li>
            <li class="main-nav-link"><a href="#">Building tools</a>
                <ul class="sub-nav">
                    <li class="sub-nav-link"><a href="/relic-list">Relics</a></li>
                    <li class="sub-nav-link"><a href="#">Ornaments</a></li>
                </ul>
            </li>
            <li class="main-nav-link">
                <a href="#">Planning tools</a>
                <ul class="sub-nav">
                    <li class="sub-nav-link"><a href="#">Character inventory</a></li>
                    <li class="sub-nav-link"><a href="#">Light cone inventory</a></li>
                    <li class="sub-nav-link"><a href="/inventory">Material inventory</a></li>
                    <li class="sub-nav-link"><a href="/planner">Planner</a></li>
                </ul>
            </li>
            <li class="main-nav-link">
                <a href="#">Materials</a>
                <ul class="sub-nav">
                    <li class="sub-nav-link">Normal mats</li>
                    <li class="sub-nav-link">Boss mats</li>
                    <li class="sub-nav-link">Weekly traces mats</li>
                    <li class="sub-nav-link">Calyx mats</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>